
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    background: #222;
    margin: 0;
}

canvas{
    background: #fff;
}

.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}